applications/
desktop/
documents/
downloads/
library/
movies/
music/
pictures/
public/
bin/
clipboard_debug.log
dev/
dropshare@jan-ole.download.dsconn
istripper/
keyfile.keyx
last_check.log
last_insta.log
nv.log
package-lock.json
test.sh
